snippet ( "round brackets" iA
(${1:${VISUAL}})$0
endsnippet

snippet { "angle brackets" iA
{${1:${VISUAL}}}$0
endsnippet

snippet [ "square brackets" iA
[${1:${VISUAL}}]$0
endsnippet

snippet ' "round brackets" iA
'${1:${VISUAL}}'$0
endsnippet

snippet " "round brackets" iA
"${1:${VISUAL}}"$0
endsnippet

snippet ` "round brackets" iA
\`${1:${VISUAL}}\`$0
endsnippet

